@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Montserrat', sans-serif;
}
button{
cursor: pointer;

}
.body_active{
    overflow-y: hidden;
}
body{
    overflow-x: hidden;
    
    min-width:360px;
    @media (min-width:768px){
        padding:0;

    }
    @media (min-width:1440px){
        padding:0;
    }
}
button:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 0 0 #2A2367;

}
.header__burger:hover{
transform: scale(1.2);
transition: 0.5s;

}


.header{
    width: 100%;
    padding: 10px;
    display: flex;
    position: sticky;
    top:0px;
    z-index: 100;
    box-shadow: 0px 1px 5px 0px #9F9F9F;
    background-color: #FFF;
    flex-direction: row;  
    justify-content: space-between;
@media (min-width:1440px){
    justify-content: space-between;


}
}

.header__burger{
    transform: scale(1.05);
    @media (min-width:768px){
        margin-left:40px;
margin-top:20px;
}
@media (min-width:1440px){
display:none;

}

}
.header__logo{
    
@media (min-width:768px){
 display:none;

}
@media (min-width:1440px){
    display:none;
}
}

.header__logo_desktop{
display:none;
cursor: pointer;
@media (min-width:768px){
    margin-top:20px;
    display: block;
}
@media (min-width:1440px){
    margin:0;
    margin-top:35px;
    margin-left:140px;
}
}

.header__button{
    transition: 0.5s;
display: block;
width: 52px;
height: 33px;
border-radius: 5px;
background: var(--2, #6B5AF9);
    @media (min-width:768px){
        margin-top:25px;
        margin-right:30px;
    }
    @media (min-width:1440px){
        display:none;
    }
}

.navigation{
    display:none;
    @media (min-width:1440px){
     display: flex;
    margin-top:55px;
    }
}


.navigation__list{
display:none;
@media (min-width:1440px){
    display:flex;
    gap:27px;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    list-style: none;
    line-height: normal;
}
.navigation__link{
text-decoration: none;
color: #2A2367;
}
}
.header__information{
    display:none;
    @media (min-width:1440px){
        display:block;
    width:320px;
    margin-top: 35px;
    margin-right:-30px;
}
}

.header__telegram-logo{
    text-decoration: none;
    margin-right: 15px;
    }
    .header__whatsapp-logo{
        text-decoration: none;
        margin-right: 15px;
    }
    .header__phone-number{
        color: var(--1, #2A2367);
        font-size: 24px;
        font-weight: 800;
        text-align: start;
    }
    .header__phone-addition{
        color: var(--1, #2A2367);
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        float:right;
        margin-right:15px;
        }

.header__button_desktop{
    display:none;
    @media (min-width:1440px){
display:block;
color:white;
font-size: 12px;
font-weight: 800;
border-radius: 5px;
background: var(--2, #6B5AF9);
width: 177px;
height: 60px;
margin-top:30px;
margin-right:140px;
cursor: pointer;
transition: 0.5s;
}
}

.main{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width:768px){
        justify-content: start;
        flex-direction: column;
}
@media (min-width:1440px){
    justify-content: center;
    flex-direction: column;
}
}

.main_title{
    margin-left: 10px;
    margin-top:11px;
    width:90%;
    text-align: start;
    color: var(--1, #2A2367);
    font-size: 18px;
    font-weight: 700;
    @media (min-width:768px){
        max-width:none;
        margin:0;
        margin-top:60px;
        margin-left:10px;
        font-size:24px;

    }
    @media (min-width:1440px){
        margin:0;
        width: 653px;
    font-size: 36px;
    margin-left:140px;
    margin-top:67px;
    
}
 
}

.title__alt-text{
    color: #6B5AF9;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width:768px){
        font-size: 24px;
    }
    @media (min-width:1440px){
        font-size: 36px;

    }
}

.img_holder{
    position: relative;
    
}

.img_wrapper {
width:100%;
    @media (min-width:768px){
        position: absolute;
        z-index: -1;
        width:60%;
        top:-7vw;
        right:0;
}


    @media (min-width:1024px) {
        top:-10vw;
        position: absolute;
        right:0;
    }
    @media (min-width:1366px) {
        top:-13vw;
    }

    @media (min-width:1440px){
        width:50%;
        right: 140px;
        top:-13vw;

    }
}

.overview{
    width:90%;
    color: #2A2367;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top:30px;
margin-left:10px;
    @media (min-width:768px){
        margin:0;
        margin-top:20px;
        margin-left:10px;
        width: 356px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    @media (min-width:1440px){
        text-shadow: none;
        width: 619px;
        margin:0;
        font-size: 16px;
        margin-left:140px;
        margin-top:30px;


    }
}

.overview__alt-text{
color: #6B5AF9;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
@media (min-width:1440px){
    font-size: 16px;


}

}

.button__check-price_one{
    cursor: pointer;
    transition: 0.5s;
    display: block;
    text-align: center;
    margin-top:50px;
   color: #FFF;
    font-size: 12px;
    font-weight: 800;
    width: 275px;
    height: 60px;
    border-radius: 5px;
background: var(--2, #6B5AF9);
margin-left: auto;
margin-right:  auto;
        @media (min-width:768px){
        margin:0;
        margin-left:10px;
        margin-top:55px;

        }   
        @media (min-width:1440px){
            margin:0;
            margin-left:140px;
            margin-top:115px;
        }


}
.button__check-price_description{
    width:80%;
    margin-top: 10px;
    margin-left:auto;
    margin-bottom:30px;
    margin-right:auto;
    color: var(--2, #6B5AF9);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 137.4%;
    @media (min-width:768px){
        font-weight: 600;
        margin:10px;
        width: 287px;
        text-align: start;

    }
    @media (min-width:1440px){
        font-size: 12px;
        margin:0;
        width: 400px;
        margin-left:140px;
        margin-top:20px;


    }
}
.button__check-price_description-alt{
    color: var(--1, #2A2367);
    font-size: 12px;
    font-weight: 500;
    line-height: 137.4%;
    @media (min-width:768px){
    font-weight: 600;
    }
}
/* main__menu_call-request */
.main__menu_call-request{
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    margin-top: 70px;
    position: fixed;
    z-index: 100;
    width: 340px;
    height: 514px;
    border-radius: 10px;
    background-color: #fff;
}

.main__menu_call-request-active{
    transition: 0.2s;
    opacity: 1;
    visibility: visible;
    margin-top: 70px;
    position: fixed;
    z-index: 200;
    width: 340px;
    height: 514px;
    border-radius: 10px;
    background-color: #fff;

}

.call-request_form{
    padding-left: 15px;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}
.menu_call-request-vector{
    cursor: pointer;
    width:12px;
    display: block;
    margin-left: 315px;
    margin-top: 10px;


}
.call-request_title{
    margin-top: 30px;
    color:#2A2367;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.form_your-name{
    display: block;
    margin-top: 30px;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 500;
}
.form__input{
    width:90%;
    margin-top: 10px;
    outline: none;
    display: block;

}
.form__input::placeholder {
    color: #9895B4;
    font-size: 12px;
    font-weight: 700;
  }
  .input_line{
    margin-top: 10px;
    width: 310px;
    height: 2px;
    background: #9895B4;
  }

  .form_your-phone{
    display: block;
    margin-top: 30px;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 500;
}

.form__button{
    transition: 0.5s;
    display: block;
    width: 310px;
    height: 60px;
    margin:30px auto 10px auto;
    border-radius: 5px;
    background-color:#6B5AF9;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 800;

}
.call-request-overwiew{
    display: block;
    margin: auto;
    text-align: start;
    width:80%;
    color: #9895B4;
    font-size: 10px;
    font-weight: 500;
}
.call-request-border{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 35px auto;
     width: 213px;
    height: 93px;
    border-radius: 10px;
    background: linear-gradient(84deg, #6B5AF9 -24.18%, #AEA4FE 112.68%);
}
.call-request-img{
    display: block;
}

.call-request-clip{
    right:50px;
    top:395px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    background-color: #FFF;
    border-radius: 50px;

}
.clip_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    background-color:#A6A6A6;
    border-radius: 50px;
}
.main_menu_background-call{
    opacity: 0;
        visibility: hidden;
    @media (min-width:768px){
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
    position: absolute;
    z-index: 2;
    width:100vw;
    height:100vh;
    background: rgba(163, 161, 161, 0.85);
    @media (min-width:1366px){
        opacity: 0;
        visibility: hidden;
}
}
}

.main_menu_background-call-active{
    transition: 0.2s;
        opacity: 1;
        visibility: visible;
        position:fixed;
        z-index: 200;
        width:100%;
        height:100%;
        background: rgba(163, 161, 161, 0.85);
}

/* burger_menu */
.main__nav_menu{
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    width:100%;
    height:100%;
    position: fixed;
    transition: 0.5s;
    transform: translate(-500px);
    background-color: #FFF;
    @media (min-width:768px){
        transition: 0.5s;
    }
    @media (min-width:1366px){
        opacity: 0;
        visibility: hidden;
    }
    @media (min-width:1440px){
        opacity: 0;
        visibility: hidden;
    }
}

.main__nav_menu-active{
    opacity: 1;
    visibility: visible;
    box-shadow: 0 -1px 0 0 rgb(227, 227, 227);
    transition: 0.5s;
    z-index: 100;
    width:100%;
    height: 100%;
    transform: translate(0px);
background-color: #FFF;
@media (min-width:768px){
    transition: 0.5s;
    width:40%;
    height:100%;
}
@media (min-width:1366px){
    opacity: 1;
    visibility: visible;
}
@media (min-width:1440px){
    opacity: 0;
    visibility: hidden;
}
}

.main_menu_background{
    opacity: 0;
        visibility: hidden;
    @media (min-width:768px){
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    position: absolute;
    z-index: 2;
    width:100vw;
    height:100vh;
    background: rgba(163, 161, 161, 0.85);
    @media (min-width:1366px){
        opacity: 0;
        visibility: hidden;
}
}
}

.main_menu_background-active{
    display:block;
    @media (min-width:768px){
        transition: 0.5s;
        opacity: 1;
        visibility: visible;
        position:fixed;
        z-index: 2;
        width:100%;
        height:100%;
        background: rgba(163, 161, 161, 0.85);
    @media (min-width:1366px){
        display:none;
}
}
}

.nav_vector{
    cursor: pointer;
    display:block;
margin-top:24px;
margin-left:14px;
@media (min-width:768px){
margin:0;
margin-left:auto;
margin-top:20px;
margin-right: 20px;

}

}

.nav__list{
margin-top:62px;
list-style: none;
display:flex;
flex-direction: column;
align-items: center;
gap:28px;
color: #2A2367;
font-size: 14px;
font-weight: 700;
}
.nav__contact_info{

display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
list-style: none;
color: var(--2, #6B5AF9);
text-align: center;
font-size: 18px;
font-weight: 700;
gap:32px;
margin-top:80px;
@media (min-width:768px){
margin-top: 60px;

}
}
.nav__list a{
text-decoration: none;
color: #2A2367;
cursor: pointer;
}

/* 1.4 */
.section_title{
    display: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding:30px 0px 30px 10px;
}

.section_title__alt-text{
    color: #6B5AF9;
    font-size: 18px;
    font-weight: 800;
}

.swiper_border_card{
    height: 200px;
    border:solid 2px #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding-left:15px;
    margin:0px 10px 30px 10px;
}

.card_num{
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-weight: 700;
}

.card_title{
    color: #2A2367;
    font-size: 14px;
    font-weight: 700;
}
.card_line{
    width: 175px;
    height: 3px;
    background: #E37575;
    margin-top:10px;

}

.card_description{
    color: #2A2367;
    font-size: 12px;
    font-weight: 400;
    margin-top:10px;
}

.button__check-price{
    display:block;
    width: 275px;
    height: 60px;
    border-radius: 5px;
    background: var(--2, #6B5AF9);
    color: #FFF;
    font-size: 12px;
    font-weight: 800;
    transition: 0.5s;
    margin:30px auto 30px auto;
}

.swiper-1 {
    width: 100vw;
    height: 40vh;
    transition: 1.5s;
}
  

.swiper-slide_advantages{
padding-top:30px;
max-height: 200px;

}

.section_arrow{
    cursor: pointer;
    display: none;
    transition: 1s;

}
.arrow_rotate{
transform: rotate(180deg);
transition: 1s;
}
.swiper-wrapper-1{
max-width: 100vw;
    
}
.swiper-2{
width:100%;
height: 100%;

}
.form-for-call{
    position: relative;
    width:95%;
    height: 900px;
    border-radius: 20px;
    background: #F4F8FF;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    gap:30px;
}
.form_title{
    color: var(--1, #2A2367);
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;


}
.section_for-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

}
.form_overwiew{
    color: var(--1, #2A2367);
    text-align: center;
    font-size: 12px;
    font-weight: 400;

}

.form_overwiew-2{
    color: var(--1, #2A2367);
    text-align: center;
    font-size: 12px;
    font-weight: 400;

}

.form_overwiew_highlighted{
    color: var(--1, #2A2367);
    font-size: 12px;
    font-weight: 600;
}

.form__for_call{
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    width: 311px;
    height: 486px;
    border-radius: 20px;
    background: var(--2, #6B5AF9);

}

.form__for_call-title{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top:35px;


}

.form_for_call-overwiew{
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.form_for_call-input{
    outline: none;
    display: block;
    margin:35px auto 15px 20px;
    background: transparent;
}
::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;
    opacity: 1;
  }
  .form_for_call-line{
    margin-top: -10px;
    margin-left: 20px;
    width: 250px;
    height: 2.5px;
    background: rgba(255, 255, 255, 0.40);
  }

  .form_for_call-input-number{
    outline: none;
    display: block;
    margin:35px auto 15px 20px;
    background: transparent;

  }
  .form_for_call-button{
    color: var(--2, #6B5AF9);
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 268px;
    height: 60px;
    border-radius: 5px;
    background: #FFF;
    margin:50px auto 0px auto;
    transition: 0.5s;
}

.check{
    padding-left: 1.2em;
    color: #FFF;
    margin-top: 5px;
    font-family: Montserrat;
    font-size: 12.5px;
    font-weight: 400;
}

.check__input{
    appearance: none;
    

}
.check__box{
    position: absolute;
    border:2px solid #9B8FFF;
    width:1em;
    height: 1em;
    background-color: #9B8FFF;
    border-radius: 2px;
    margin-left: -1.2em;
    margin-top: 35px;
}
.check__box-overwiew{
    display: block;
    margin-top: 15px;
    margin-left: 20px;

}
  .checkbox__input_alt{
    color: #9B8FFF;
    font-family: Montserrat;
    font-size: 12.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.check__input:checked +.check__box{
background-image:  url(./images/check.svg) ;
background-repeat: no-repeat;
background-size:100%;



}
/* .check__input:focus +.check__box{


}
.check__input:disabled +.check__box {

}
.check__input:checked:disabled +.check__box{

} */
.footer{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color:#2A2367;
    height: 640px;
    margin-top: 150px;
}

.footer__title{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;

}

.footer__email{
    color: var(--2, #6B5AF9);
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;

}

.footer__line{
    width: 340px;
    height: 0.5px;
    background: #6B5AF9;
    margin-top: 25px;
}

.footer__button{
    color: #FFF;
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    background: var(--2, #6B5AF9);
    width: 275px;
    height: 60px;
    margin-top: 30px;
    transition: 0.5s;
    margin-left: auto;
    margin-right: auto;

}

.footer__images{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 30px;

}

.footer__adress{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 35px;


}

.footer__phone-number{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;


}

.footer__logo{
    margin-top: 35px;
}

.footer__copyright{
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 25px;
}

.footer__privacy-policy{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
    margin-top: 30px;

}
.section_for-laptop{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.footer_line_for-laptop{
    display: none;
}
.section_laptop{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.laptop_copyright{
    display: flex;
    flex-direction: column;

}

.form_img-5{
    z-index: 1;
    position: absolute;
    width:45px;
    right:-5px;
    top:-10px;
}
.form_img-4{
    position: absolute;
    transform: translateY(-50px);

}
.form_img-2{
    width:50px;
    position: absolute;
    transform: translate(-14px, 205px);

}
.form_img-3{
    position: absolute;
    width:90px;
    transform: translate(217px, -2px);
}

.form_img-1{
    width:215px;
    position: absolute;
    transform: translateY(791px);
}

/* phone 370px  */
@media (min-width:370px) {
    
    .swiper-1{
        max-width:360px;

    }
    
}
/* laptop */
@media (min-width:767px) {
    /* main__menu_call-request */
.main__menu_call-request{
    left:118px;
    right: 118px; 
    bottom:132px;
    top:40px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    width: 532px;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;
}

.main__menu_call-request-active{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
    left:50vw;
    top:1vw;
    transition: 0.2s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    z-index: 200;
    width: 532px;
    height: 550px;
    border-radius: 10px;
    background-color: #fff;

}

.call-request_form{
    padding-left: 15px;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}
.menu_call-request-vector{
    width:12px;
    display: block;
    margin-left: 490px;
    margin-top: 10px;


}
.call-request_title{
    margin-top: 30px;
    color:#2A2367;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.form_your-name{
    display: block;
    margin-top: 30px;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 500;
}
.form__input{
    width:90%;
    margin-top: 10px;
    outline: none;
    display: block;

}
.form__input::placeholder {
    color: #9895B4;
    font-size: 12px;
    font-weight: 700;
  }
  .input_line{
    margin-top: 10px;
    width: 310px;
    height: 2px;
    background: #9895B4;
  }

  .form_your-phone{
    display: block;
    margin-top: 30px;
    color: #7E7E7E;
    font-size: 16px;
    font-weight: 500;
}

.form__button{
    transition: 0.5s;
    display: block;
    width: 310px;
    height: 60px;
    margin:30px auto 10px auto;
    border-radius: 5px;
    background-color:#6B5AF9;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 800;

}
.call-request-overwiew{
    display: block;
    margin: auto;
    text-align: center;
    width:80%;
    color: #9895B4;
    font-size: 10px;
    font-weight: 500;
}
.call-request-border{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 35px auto;
     width: 213px;
    height: 93px;
    border-radius: 10px;
    background: linear-gradient(84deg, #6B5AF9 -24.18%, #AEA4FE 112.68%);
}
.call-request-img{
    display: block;
}

.call-request-clip{
    right:150px;
    top:410px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    background-color: #FFF;
    border-radius: 50px;

}
.clip_border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    background-color:#A6A6A6;
    border-radius: 50px;
}
    .form_img-1{
        width:300px;
        transform: translateY(750px);
    }
    .form_img-3 {
        position: absolute;
        width: 90px;
        top:780px;
        right:250px;
    }
    .form_img-2{
        width:50px;
        left:50px;
        top:500px;

    }
    .form_img-5{
        width:60px;
        right:50px;
        top:400px;
    }
    .check__box{
        margin-top: 30px;
    }
    .check__box-overwiew{
        display: block;
        margin-top: 15px;
        margin-left: 10px;
    
    }

    .footer__privacy-policy{
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

    }
    .laptop_copyright{
        width:100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;

    }
    .laptop_logo{
        width:100%;
    }
    .footer__logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__images{
        margin-right: 70px;

    }
    .section_laptop{
        display: flex;
        flex-direction: row-reverse;
        width:100%;
        justify-content: space-between;
    }
    .section_laptop-owerwiew{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 75px;

    }
    .footer__button{
        width: 341px;
        height: 60px;
        margin-bottom: -50px;
        margin-left: 40px;
    }
    .footer__title{
        font-size: 24px;
    }
    .footer__email{
        font-size: 24px;
        padding-left: 30px;
    }
    
    .section_overiwew_for-laptop{
        display: flex;
        flex-direction: column;
        gap:20px;

    }
    .footer_line_for-laptop{
        margin-right: auto;
        display: block;
        width: 93%;
        height: 0.5px;
        background: #6B5AF9;
        margin-top: 30px;
        margin-left: 25px;
    
    }
    .footer__line{
        display: none;

    }
    .section_for-laptop{
        margin-left: 50px;
        display: flex;
        align-content: start;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    
    }

    .footer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items:start;
        height: 500px;
    }
    
    .form_for_call-button{
        margin-top: 30px;
        
    }

    ::placeholder {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.40);
        font-weight: 400;
        opacity: 1;
      }
      .form_for_call-line{
        width:75%;

      }

      .form_for_call-input-number{
        margin-left: 70px;

      }
    .form_for_call-input{
        margin-left: 70px;
    }
    
    .form_for_call-overwiew{
        margin-top: 30px;
    }

    .form__for_call-title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;

    }

    .form__for_call{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        width:65%;
    }

    .form_overwiew-2{
        width:70%;
    }

    .form_overwiew{
        width:70%;
    }
    
    .form-for-call{
        width:97%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-2{
        width:100%;
        height: 100%;
        
        }
    
    .swiper-slide_advantages{
        max-width:360px;

    }
    .swiper-1 {
        max-width:100vw;
        transition: 1.5s;
        height: 240px;
    }
    .swiper-wrapper-1{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        gap:20px;
    }
    .section_title{
        display:block;
        font-size: 24px;
        font-weight: 800;

    }
    .section_title__alt-text{
        font-size: 24px;
        font-weight: 800;
    }
    .section_arrow{
        display: block;
        margin:auto;
        
        }
        .swiper_active{
            height: 100vw;
            transition: 1.5s;
        }
}
@media (min-width:1024px) {
    .footer_line_for-laptop{
        width:90vw;

    }
    .footer__button{
        margin-left:330px;

    }
    .swiper_active{
        height: 750px;
        transition: 1.5s;
    }
}

@media (min-width:1139px) {
    .footer__button{
        margin-left:560px;

    }
    .swiper_active{
        max-width:100vw;
        height: 550px;
        transition: 1.5s;
    }
    
}
/* desktop */
@media (min-width:1366px) {
    .form_img-5 {
        width: 60px;
        right: 30px;
        top: 250px;
    }
    .form_img-4 {
        position: absolute;
        transform: translateY(-46px);
        left: 400px;
    }
    .form_img-3 {
        position: absolute;
        width: 160px;
        top: 610px;
        right: 200px;
    }
    .form_img-2 {
        width: 50px;
        left: 580px;
        top: 330px;
    }

    .form_img-1 {
        width: 430px;
        top:-275px;
        left: 0px;
    }
    .footer__images{
        margin-right: 220px;
    }
    .section_laptop-owerwiew{
        margin-left: 140px;
    }
    .footer__button{
        margin-left: 350px;
    }
    .footer_line_for-laptop{
        width:86%;
        margin-left: 90px;
    }
    .footer__email{
        font-size: 40px;
        padding-left: 90px;
    }
    .footer__title{
        font-size: 36px;
    }
    .footer{
        height: 550px;
    }
    .form_for_call-input-number{
        width:50%;
        margin-left: 50px;
    }
    .form_for_call-line{
        margin-left: 5px;
    }
    .form_for_call-input{
        margin-left: 50px;
    }
    .form_overwiew_highlighted{
        font-size: 18px;
    }
    .form_overwiew-2{
        text-align: start;
        width:450px;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .form_overwiew{
        margin-top: 20px;
        text-align: start;
        width:450px;
        font-size: 18px;
        margin-left: 40px;

    }
    .form_title{
        margin-left: -200px;
        font-size: 36px;
        width:40%;

    }
    .form__for_call{
        width:35%;
    }
    .section_for-desktop{
        text-align: start;
        width:500px;
    }
    .form-for-call{
        margin-top: 150px;
        width:80%;
        height:90vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       align-items:start;
       align-content: space-between;
       justify-content:center;
    }

    .section_title{
        display:block;
        text-align: center;
        font-size: 36px;
        font-weight: 800;

    }
    .section_title__alt-text{
        font-size: 36px;
        font-weight: 800;
    }
    .swiper-1 {
        transition: 1s;
        height: 240px;
    }
    .swiper_active{
        height: 500px;
        transition: 1.5s;
    }
    .swiper-wrapper-1{
        margin-left:auto;
        margin-right: auto;
        max-width: 95vw;
        justify-content: center;
        
    }
}
/* section 2  */
.company-advantages{
    padding-left:10px;
}
.title_what-you-recive{
    color: #2A2367;
    font-size: 18px;
    font-weight: 800;
}

.title_what-you-recive_alt-text{
    color: var(--2, #6B5AF9);
    font-size: 18px;
    font-weight: 800;


}

.phone_wrapper{
    margin:0px;
    max-width: 350px;
}

.title_catalog{
    color: var(--2, #6B5AF9);
    font-size: 18px;
    font-weight: 700;
}

.catalog_list{
    list-style-image: url(./images/Ellipse.svg);
    margin-left:15px;
    margin-top:15px;
    display:flex;
    gap:10px;
    flex-direction: column;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;
    max-width: 400px;
}

.catalog_icon{
    margin-top:40px;
    max-width:350px;
}

.laptop_icon{
    margin-top:30px;
    max-width:350px;

}
.laptop_icon_two{
    margin-top:30px;
    max-width:350px;
}

.title_catalog_last{
    margin-top:60px;
    color:#6B5AF9;
    font-size: 18px;
    font-weight: 700;


}
.certificate{
   width: 95%;
    height: 731px;
    border-radius: 10px;
    background: #F0D577;
    margin-top:90px;
    display: flex;
    justify-content: center;
}

.certificate_border{
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #FFF;
    width:90%;
    height: 105vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.certificate_img{
    min-width: 99px;
    height: 120px;
    margin-top: 20px;
}

.certificate_name{
    color: #9F9F9F;
    font-size: 12px;
    font-weight: 700;
    margin-top:20px;


}

.certificate_overwiew{
    text-align: center;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    width:212px;
    margin-top:5px;

}
.certificate_img-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    align-items: center;

}
.certificate_img-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    align-items: center;

}
.certificate_page-2{
    width: 280px;
    max-width:430px;
    height: 395px;

}

.certificate_page-1{
    width: 280px;
    max-width:430px;
    height: 395px;
}
.section_about-business{
margin-left:10px;

}

.explore_business{
    margin-top: 100px;
    padding-left: 10px;
    margin-right: auto;
    color:#2A2367;
    font-size: 18px;
    font-weight: 800;

}

.explore_business-alt-text{
    color: #6B5AF9;
    font-size: 18px;
    font-weight: 800;
    
}

.business_overwiew{
    padding-right:10px;
    margin-top: 30px;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;

}

.overview_paragraph{
    display:block;
    margin-top:15px;

}

.business_img{
    margin-top:20px;
    width:350px;
    display:block;

}

.stages{
margin-left: 10px;

}
.stages_title{
    margin-top:70px;
    color:#2A2367;
    font-size: 18px;
    font-weight: 800;
    
}

.item{

display: flex;
flex-direction: row;
flex-wrap: wrap;


}

.stages_first_item{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 94vw;
    margin-top: 30px;
    margin-right: 10px;
    padding-left:15px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);



}

.first_item-num{
    display: flex;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    background-color:#43CD93;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    
    

}
.first_item_title{
    display: block;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    margin-top:35px;
    margin-left: 20px;



}

.first_item_line{
    width:85vw;
    height: 1px;
    background-color:#EBEBEB;
    margin-top:25px;
}

.first_item-overwiew{
    width:85vw;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;

}
.overview-p1{
    display:block;
    margin-bottom: 15px;
    margin-top: 15px;

}

.first_item-img{
    margin-right: auto;
    width: 85vw;
    height: 75vh;
    margin-top: 20px;

}
.second_item{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    }
.stages_second_item{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 94vw;
    margin-top: 30px;
    padding-left:15px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);
    overflow: hidden;

}

.second_item-num{
    display: flex;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    background-color:#43CD93;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;

}

.second_item_title{
    display: block;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    margin-top:35px;
    margin-left: 20px;
    
}

.second_item-overwiew{
    width:85vw;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;
    margin-top:15px;


}

.second_item-img{
    margin-right: auto;
    width: 85vw;
    margin-top: 20px;
    overflow: hidden;

}

.stages_third_item{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 94vw;
    margin-top: 30px;
    padding-left:15px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);

}

.third_item-num{
    display: flex;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    background-color:#43CD93;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}

.third_item_title{
    display: block;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    margin-top:35px;
    margin-left: 20px;


}

.third_item-overwiew{
    width:85vw;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;
    margin-top:15px;


}

.third_item-img{
    margin-right: auto;
    width: 85vw;
    margin-top: 20px;

}

.stages_four_item{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 94vw;
    margin-top: 30px;
    padding-left:15px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);

}

.four_item-num{
    display: flex;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    background-color:#43CD93;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;

}

.four_item_title{
    display: block;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    margin-top:35px;
    margin-left: 20px;

}

.four_item-overwiew{
    width:85vw;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;
    margin-top:15px;

}

.four_item-img{
    margin-right: auto;
    width: 85vw;
    margin-top: 20px;

}

.stages_fifth_item{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 94vw;
    margin-top: 30px;
    padding-left:15px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);

}

.fifth_item-num{
    display: flex;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    background-color:#43CD93;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;

}

.fifth_item_title{
    display: block;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    margin-top:35px;
    margin-left: 20px;
}

.fifth_item-overwiew{
    width:85vw;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;
    margin-top:15px;

}
.stages_six_item{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 94vw;
    margin-top: 30px;
    padding-left:15px;
    border-radius: 10px;
    padding-bottom: 20px;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);

}

.six_item-num{
    display: flex;
    border-radius: 20px;
    width: 37px;
    height: 37px;
    background-color:#43CD93;
    color:#fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;

}

.six_item_title{
    display: block;
    color:#2A2367;
    font-size: 12px;
    font-weight: 700;
    margin-top:35px;
    margin-left: 20px;
}

.six_item-overwiew{
    width:85vw;
    color:#2A2367;
    font-size: 12px;
    font-weight: 400;
    margin-top:15px;

}


.office_img{
    padding:0;
    margin-top:90px;
    width: 100vw;
}
/* laptop */
@media (min-width:768px) {
    .certificate_border{
        gap:30px;
        height: 95%;

    }
    .certificate_img-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
        align-items: center;
    
    }
    .certificate_img-2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
        align-items: center;
    
    }

    .six_item-overwiew{
        margin:0;
        font-size: 18px;
        font-weight:400;
        padding-left:50px;
        width:70vw;
    }

    .stages_six_item{
        padding:0;
        gap:25px;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        width:85vw;
        height: 70vh;
    }

    .six_item_title{
        margin-left: 40px;
        font-size: 24px;
        font-weight: 700;

    }
    .six_item-num{
        margin-top: 30px;

    }

    .fifth_item-overwiew{
        margin:0;
        font-size: 18px;
        font-weight:400;
        padding-left:50px;
        width:70vw;
    }

    .stages_fifth_item{
        padding:0;
        gap:25px;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        width:85vw;
        height: 70vh;
    }

    .fifth_item_title{
        margin-left: 40px;
        font-size: 24px;
        font-weight: 700;

    }
    .fifth_item-num{
        margin-top: 30px;

    }

    .four_item_title{
        margin-left: 40px;
        font-size: 24px;
        font-weight: 700;

    }

    .four_item-num{
        margin-top: 30px;

    }

    .four_item-overwiew{
        font-size: 18px;
        font-weight:400;
        padding-left:50px;
        width:80vw;
    }
    .four_item-img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width:80vw;
    }


    .stages_four_item{
        padding:0;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        width:85vw;
    }


    .third_item_title{
        margin-left: 40px;
        font-size: 24px;
        font-weight: 700;

    }

    .third_item-num{
        margin-top: 30px;

    }

    .third_item-overwiew{
        font-size: 18px;
        font-weight:400;
        padding-left:50px;
        width:80vw;
    }
    .third_item-img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width:80vw;
    }


    .stages_third_item{
        padding:0;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        width:85vw;
    }

    .second_item-img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width:80vw;
    }

    .second_item-overwiew{
        font-size: 18px;
        font-weight:400;
        padding-left:50px;
        width:80vw;
    }

    .second_item-num{
        margin-top: 30px;

    }

    .item{
        height: 15vw;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
    .second_item_title{
        margin-left: 40px;
        font-size: 24px;
        font-weight: 700;

    }
    .stages_second_item{
        padding:0;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        width:85vw;
    }



    .first_item-num{
        margin-top: 30px;

    }

    .first_item_line{
        width: 75vw;
    }

    .first_item_title{
        margin-left: 40px;
        font-size: 24px;
        font-weight: 700;

    }

    .first_item-overwiew{
        font-size: 18px;
        font-weight:400;
        padding-left:50px;
        width:80vw;
    }

    .first_item-img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width:70vw;
        height: 100vw;
    }

    .stages_first_item{
        padding:0;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        margin-top:30px;
        width:85vw;
    }

    .stages{
        display: flex;
        flex-direction: column;
    }

    .stages_title{
        font-size: 24px;

    }

    .explore_business-alt-text{
        font-size: 24px;

    }
    .explore_business{
        font-size: 24px;

    }
    .business_img{
        margin:0;
        width: 50vw;
    }

    .business_overwiew{

        width:48vw;
    }  
    .section_about-business{
        display: flex;
        justify-content: space-between;

    }
    .certificate_page-2{
        width: 60vw;
        height: 607px;


    }
    .certificate_page-1{
        width: 60vw;
        height: 607px;


    }

    .certificate_img{
        width: 185px;
        height: 226px;

    }


    .certificate{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 1125px;


    }
    .swiper-pagination-bullet>span {
        display:none;
    }
    .phone_wrapper{
        min-width: 370px;

    }
    .catalog_icon{
        margin: 0px;
        min-width: 370px;

    }
    .laptop_icon{
        margin:0px;
        min-width: 370px;

    }
    .laptop_icon_two{
        margin: 0px;
        min-width: 370px;

    }
    .section_title{
        color:#2A2367;
        
    }
    .section_swiper{
        margin-top:60px;

    }

    .title_what-you-recive{
        font-size: 24px;
        font-weight: 800;
    }

    .title_what-you-recive_alt-text{
        font-size:24px;
        font-weight: 800;
    }

    .fisrt_catalog__for-laptop{
        margin-top:40px;
        display:flex;
        justify-content: space-between;
        flex-direction: row;

    }

    .first-list_advantage{
        margin-top:80px;

    }

    .second_catalog__for-laptop{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top:60px;

    }

    .third_catalog__for-laptop{
        margin-top:60px;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .third_list_advantage{
        margin-top:100px;

    }

    .four_catalog__for-laptop{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top:100px;
    }
    .button__check-price{
        margin-top: 85px;

    }
    .office_img{
        margin-top:90px;
        width: 100vw;
    }
}
/* laptop min-width:1024px  */
@media (min-width:1024px) {
    .stages_six_item{
        gap:0px;

    }
    .stages_fifth_item{
        gap:0px;
    }
    
    .img_wrapper{
        top:-12vw;
    }

    .fisrt_catalog__for-laptop{
        margin-top:40px;
        display:flex;
        justify-content: center;
        flex-direction: row;

    }

    .second_catalog__for-laptop{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top:60px;

    }

    .third_catalog__for-laptop{
        margin-top:60px;
        display:flex;
        justify-content: center;
        flex-direction: row;
    }

    

    .four_catalog__for-laptop{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top:100px;
    }
   
}
@media (min-width:1024px) {
    .form_for_call-input{
        margin-left: 90px;

    }
    .form_for_call-input-number{
        margin-left: 90px;
    }
    
}
@media (min-width:1280px) {
    .form_for_call-input{
        margin-left: 110px;

    }
    .form_for_call-input-number{
        margin-left: 110px;
    }
    
}

@media (min-width:1280px) {
    .img_wrapper{
        width:50%;

    }

    .section_swiper{
        margin-top:80px;

    }
}
/* desktop 1366px */
@media (min-width:1366px) {
    .call-request-clip {
        right: 270px;
        top: 415px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        background-color: #FFF;
        border-radius: 50px;
    }
    .menu_call-request-vector {
        width: 12px;
        display: block;
        margin-left: 730px;
        margin-top: 15px;
    }
    .main__menu_call-request{
        left:118px;
        right: 118px; 
        bottom:132px;
        top:40px;
        transition: 0.2s;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 100;
        width: 532px;
        height: 550px;
        border-radius: 10px;
        background-color: #fff;
    }
    
    .main__menu_call-request-active{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transform: translate(-50%);
        left:50vw;
        top:5vw;
        transition: 0.2s;
        opacity: 1;
        visibility: visible;
        position: fixed;
        z-index: 200;
        width: 776px;
        height: 550px;
        border-radius: 10px;
        background-color: #fff;
    
    }
    .form_for_call-input-number{
        margin-left: 50px;
    }
    .form_for_call-input{
        margin-left: 50px;
    }
    
    .six_item-overwiew{
        width:75vw;
        padding-left: 80px;
    }
    .six_item_title{
        margin-left: 125px;
    }
    .stages_six_item{
        gap:30px;

    }
    .fifth_item_title{
        margin-left: 125px;

    }
    .fifth_item-overwiew{
        padding-left: 80px;
        width:72vw;

    }
    .stages_fifth_item{
        gap:30px;
    }
    .four_item_title{
        margin-left: 125px;

    }
    .four_item-overwiew{
        width:72vw;
        margin-top: 30px;
        padding-left: 80px;

    }
    .four_item-img{
        margin-top: 130px;

    }
    .third_item_title{
        margin-left: 125px;

    }
    .third_item-overwiew{
        width:70vw;
        margin-top: 30px;
        padding-left: 80px;

    }
    .third_item-img{
        margin-top: 130px;

    }
    .second_item_title{
        margin-left: 125px;

    }
    .second_item-overwiew{
        width:71vw;
        margin-top: 30px;
        padding-left: 80px;


    }
    .second_item-img{
        margin-top:130px;

    }
    .first_item_title{
        margin-left: 125px;
    }
    .item{
        height: 13vh;
        margin-left: 80px;
        justify-content: start;
    }
    .first_item-overwiew{
        width:80vw;
        margin-top: 30px;
        padding-left: 70px;

    }
    .first_item-img{
        margin-top: 130px;

    }
    .stages{
        margin:0;
    }
    .stages_title{
        font-size: 36px;
        font-weight: 800;
        margin-left: 140px;
        margin-top: 150px;

    }
    .section_about-business{
        justify-content: space-evenly;
        margin-left: 0;
    }

    .business_img{
        width:40vw;
        

    }
    .business_overwiew{
        font-size: 18px;
        font-weight: 400;
        margin-left: 60px;
        width:40vw;
       

    }

    .explore_business-alt-text{
        font-size: 36px;
        font-weight: 800;

    }

    .explore_business{
        margin-left: 140px;
        font-size: 36px;
        font-weight: 800;


    }
    .certificate_img-2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
        align-items: center;

    }
    .certificate_img-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
        align-items: center;

    }

    .certificate_name{
        margin: 0;
    }
    .certificate_overwiew{
        margin: 0;
      
    }
    .certificate_img{
        width:50%;
        height:50vh;

    }
    .certificate{
        width:80%;
        height: 70%;
    }
    .swiper-wrapper.swiper-wrapper-2{
        display: flex;
        width:50%;
        justify-content: space-between;
        margin-top: 30px;

    }
    .certificate_border{
        display:flex;
        flex-direction: row;
        margin:25px 20px 25px 20px;
        width:98%;
        height: 58vh;
    }

    .certificate_page-1{
        margin: 0;
        height: 43vh;
        width:20vw;

    }

    .certificate_page-2{
        height: 43vh;
        width:20vw;

    }
    .section_swiper{
        margin-top:180px;

    }
    .company-advantages{
        margin: 0;
        padding-left: 140px;

    }

    .title_what-you-recive{
        margin-left: 40px;
        font-size: 36px;
        
    }

    .title_what-you-recive_alt-text{
        font-size: 36px;
    }

    .phone_wrapper{
        min-width: 500px;

    }
    .catalog_icon{
        min-width: 500px;

    }
    .laptop_icon{
        min-width: 500px;

    }
    .laptop_icon_two{
        min-width: 500px;

    }
}
@media (min-width:1445px) {
    .footer{
        padding-left:70px;
        
    }
    .footer__images{
        margin-right:300px;
    }
    .certificate{
        margin-left: 140px;
        margin-right: 140px;
          width:80vw;
          height: 70vh;
      }
    .certificate_border{
        display:flex;
        flex-direction: row;
        margin:25px 20px 25px 20px;
        width:80vw;
        height: 63vh;
    }
    .certificate_page-1{
        margin: 0;
        height: 45vh;
        width:20vw;

    }

    .certificate_page-2{
        height: 45vh;
        width:20vw;

    }
}

